# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [9]:
import pandas as pd
import numpy as np

dic_temperaturas = {"1900": -0.08, "1920": -0.27, "1940": 0.12, "1960": -0.03, "1980": 0.26, "2000": 0.40, "2020": 1.02}
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [56]:
pd.DataFrame([1900, 1920, 1940, 1980, 200, 2020],
             columns=['ano'])

    ano
0  1900
1  1920
2  1940
3  1980
4   200
5  2020

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [66]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
serie_temperaturas = pd.Series(dic_temperaturas)
print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [78]:
arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(arr, columns=["100", "10", "(20.3)"])
print(df)

           100          10      (20.3)
0    98.211591   86.521186  105.382551
1    91.478865   89.664284  102.608604
2   107.845736  107.713935   93.226226
3    96.693611   99.973195  107.547519
4    91.617374   97.265348   81.634749
5    87.273163  113.544074   94.345658
6   102.981710   89.099719  102.540903
7    92.728175  102.641626  109.250298
8    97.737139   96.248609  111.339084
9   106.445255  110.004468  104.345223
10  103.789800  111.174393  108.092210
11  105.061647  100.532705  107.045276
12   71.619557   87.339644   90.293444
13   92.539352   90.884179  108.923798
14   90.638646  115.257052   99.094273
15   87.747855   99.682058  108.456263
16   97.922338   93.964563  108.020361
17   91.940439   96.466488   95.287076
18   95.422586  100.185064   77.981417
19  106.623854  124.610095  116.499500

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [106]:
# Gerando o ndarray com valores normais
arr = np.random.normal(loc=100, scale=10, size=(20, 3))

# Convertendo o ndarray em um DataFrame
df = pd.DataFrame(arr, columns=["x1", "x2", "x3"])

print(df)

            x1          x2          x3
0    86.623937  100.757321   86.930257
1    89.057694  111.109991  110.124825
2    92.796218  101.173546   97.565490
3   108.832726   98.965167  108.660656
4   114.693344  104.367915   87.378928
5   112.864590   94.819250  104.756334
6    84.344266   97.366728  102.945635
7   107.971114   92.097834  106.209264
8   101.330666   84.839191  109.303596
9    86.794311   96.125163   97.900783
10  106.010851  121.808175   89.445253
11   97.224560  103.276302   84.788678
12   85.095020   94.613726  107.657480
13   74.673009  120.882913  107.663696
14   82.134866   97.023885  107.057893
15   98.266277  101.767323   99.086350
16   89.198433  109.187054   98.248902
17  114.143618  115.280211  104.560857
18   96.438190   97.501663  105.688936
19   98.600395  105.941349  123.598550

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [110]:
arr = np.random.normal(loc=100, scale=10, size=(20, 3))

# Convertendo o ndarray em um DataFrame
df = pd.DataFrame(arr, columns=["x1", "x2", "x3"])

# Criando uma nova coluna "media" com a média das colunas "x1", "x2" e "x3"
df["media"] = df[["x1", "x2", "x3"]].mean(axis=1)

print(df)

            x1          x2          x3       media
0    87.703498  108.373468   89.814852   95.297272
1   100.148738  127.153900   95.013864  107.438834
2    99.037986   89.016453  111.982857  100.012432
3   100.923029  104.353471   86.498748   97.258416
4    90.992277   93.083317   76.901525   86.992373
5    96.023638   93.191846   99.085218   96.100234
6   102.586025  103.288090  102.689674  102.854596
7    99.100598   94.214654  104.921675   99.412309
8    94.082288  108.930860   98.928620  100.647256
9    89.705725   89.260782  100.062209   93.009572
10   94.956764  112.613055  119.923866  109.164561
11  102.976230   92.519910   97.841136   97.779092
12  100.935131   87.003188   99.267959   95.735426
13   92.053521   95.567983   95.535560   94.385688
14  101.203462  114.668524   96.688340  104.186775
15   99.411219   99.345255  106.512549  101.756341
16   81.137115  113.582744  110.576257  101.765372
17   99.588607  117.102186   99.349174  105.346656
18  100.550974   80.084197  124.625264  101.753478
19   99.464234  107.844825   96.211089  101.173383

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [126]:
arr = np.random.normal(loc=100, scale=10, size=(20, 3))

# Convertendo o ndarray em um DataFrame
df = pd.DataFrame(arr, columns=["x1", "x2", "x3"])

# Criando uma nova coluna "media" com a média das colunas "x1", "x2" e "x3"
df["media"] = df[["x1", "x2", "x3"]].mean(axis=1)
df["log_med"] = df[["x1", "x2", "x3"]].mean(axis=1)

print(df)

            x1          x2          x3       media     log_med
0    88.543425   99.770237  112.546337  100.286666  100.286666
1    81.663930   96.217559  102.806822   93.562770   93.562770
2    88.411001   99.136088   94.960158   94.169082   94.169082
3   116.464922   89.018247  113.643227  106.375465  106.375465
4   104.687494   94.120268  103.520453  100.776071  100.776071
5   115.542699   93.502466  108.994495  106.013220  106.013220
6   101.269142  101.105644   93.637559   98.670782   98.670782
7   106.814608   94.988568   95.276274   99.026483   99.026483
8    99.744646  110.256677   98.057872  102.686398  102.686398
9    95.212552   95.452828  113.199125  101.288168  101.288168
10  109.039344   86.629872  102.684038   99.451085   99.451085
11  112.033421  102.942442  104.592185  106.522683  106.522683
12  107.737593   97.690696  101.593274  102.340521  102.340521
13   88.462707  120.376968  110.169793  106.336489  106.336489
14  111.437999   98.075603   79.088546   96.200716   96.200716
15   87.647230  111.333530   94.910315   97.963692   97.963692
16   97.152133   96.359649   97.812297   97.108026   97.108026
17  107.021814   92.016159  119.167282  106.068418  106.068418
18   97.417133  107.127246   90.679148   98.407842   98.407842
19   98.200496   94.696990  124.638154  105.845213  105.845213